<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="net.ericsson.emovs.cast">
    <application>
        <activity
            android:name=".ui.activities.ExpandedControlsActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
        </activity>
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="net.ericsson.emovs.cast.CastOptionsProvider" />
    </application>
</manifest>
